@use "./Variables.scss";

.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: Variables.$green-color;
    background-color: Variables.$green-color;
    color: #fff;
}

  
.sign-in-icon {
    font-size: 5rem;
}
