$main-font: Avenir, Helvetica, Arial, sans-serif;
$blue-dark-color: #2c3e50;
$green-color: #00bc77;
$red-color: red;
$white-color: #fff;
$hero-background-image: url('../assets/images/bank-tree.jpeg');
