@use "../../Styles/Variables.scss";

.edit-button {
    border-color: $green-color;
    background-color: $green-color;
    color: $white-color;
    font-weight: bold;
    padding: 10px;
  }

.error-message {
  color: $red-color;
}
  