@use "../../Styles/Variables.scss";

.button-wrapper {
  padding: 1rem 0;
}

.success-message {
  color: #00bc77;
}

.error-message {
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
